@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --ff: 'Roboto', sans-serif;
    --gray-1: #f2f2f2;
    --white: #ffffff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
}
a {
    text-decoration: none;
}
a:visited {
    color: #70757a;
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 14px 18px;
}
nav a {
    font-size: 13px;
    color: black;
}
.profile {
    border-radius: 50%;
}
.google-apps {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
    margin-right: 20px;
}
.images {
    margin-right: 27px
}
.gmail {
    margin-right: 16px;
}
.container {
    margin-top: 90px;
    gap: 20px;
    text-align: center;
}
.img-wrapper {
    position: relative;
}
.share {
    width: 20px;
    position: absolute;
    bottom: 18px;
    right: 680px;
}
.input-container {
    max-width: 584px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dadce0;
    padding: 11px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.icon {
    width: 24px;
}
.search-input {
    border: none;
    flex-grow: 1;
    outline: none;
}
.search-icon {
    width: 20px;
    filter: grayscale(1);
}
.icon-container {
    display: flex;
    gap: 15px;
}
footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.bar {
    background-color: var(--gray-1);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    /* font-weight: 400; */
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
}
.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 26px;
}
.btn {
    background-color: #f8f9fa;
    border: none;
    padding: 12px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #202124;
}

.offered {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.languages {
    display: flex;
    gap: 8px;
}
.languages a{
    color: #1a0dab;
}